<template>
  <div class="container is-fluid"  id="app">
    <img src="./assets/logo.png">
    <hr/>
    <router-view></router-view>
    <hr/>
    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>

            Demo realizada con <strong>Flask</strong>, <strong>VueJS</strong> y <strong>Bulma</strong> para la <strong>Formación de Docker</strong>.
          </p>
          <p>
            <a class="icon" href="https://github.com/jgthms/bulma">
              <i class="fa fa-github"></i>
            </a>
          </p>
        </div>
      </div>
    </footer>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
