<template>
  <div class="getExample">

    <div class="columns"  v-if="items && items.length">
      <div class="column" v-for="item of items">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                <a class="tag is-primary" v-bind:class="{ 'is-danger': item.priority===2, 'is-warning': item.priority===3 }" style="margin-right: 10px">Prioridad {{item.priority}}</a>
                {{item.name}}
              </p>
            </header>
            <footer class="card-footer">
              <a href="#" class="card-footer-item" v-if="item.status===0" @click="markBuyElement(item)">Comprar</a>
              <span href="#" class="card-footer-item" v-if="item.status===1">Comprado</span>
              <a href="#" class="card-footer-item" v-if="item.status===0" @click="removeElement(item)">Borrar</a>
            </footer>
          </div>
      </div>

      <div class="column">
          <div class="card">
            <header class="card-header">
              <div class="select">
                <select v-model="newElement.priority">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                </select>
              </div>
              <input class="input" type="text" placeholder="Elemento" v-model="newElement.name">

            </header>
            <footer class="card-footer">
              <a href="#" class="card-footer-item" @click="addElement">Añadir</a>
            </footer>
          </div>
      </div>

    </div>

  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'getExample',
  data () {
    return {
      items: [],
      errors: [],
      newElement: {
        priority: 1,
        status: 0
      }
    }
  },

  // Fetches posts when the component is created.
  created: function () {
    axios.get('http://192.168.99.100:5000/items')
    .then(response => { this.items = response.data })
    .catch(e => console.log(e.message));
  },

  methods: {
    addElement: function () {
      console.log(this.newElement);
      axios.post('http://192.168.99.100:5000/items', this.newElement)
      .then(response => {
                          this.items.push(response.data);
                          this.newElement = {};
                          console.log("Guardado con éxito");
                        }
      )
      .catch(e => alert(e.message));
    },

    removeElement: function (item) {
      axios.delete('http://192.168.99.100:5000/items/'+item.id)
      .then(response =>  {
                            var index = this.items.indexOf(item);
                            if (index > -1) {
                                this.items.splice(index, 1);
                            }
                            console.log("Borrado con éxito");
                          }
      )
      .catch(e => alert(e.message));
    },

    markBuyElement: function(item) {
      axios.put('http://192.168.99.100:5000/items/'+item.id)
      .then(response =>  {
                            item.status=1;
                            console.log("Actualizado con éxito");
                          }
      )
      .catch(e => alert(e.message));
    }
  }
}
</script>
